version: "3.8"

services:
    postgres:
        container_name: postgres
        image: docker.io/postgis/postgis:16-3.4
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "5432:5432"
        networks:
            - convyn-net
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}",
                ]
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    postgres_data:
        driver: local

networks:
    convyn-net:
        driver: bridge
